html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box
}

/*img,*/
/*video,*/
/*iframe {*/
/*    max-inline-size: 100%;*/
/*    block-size: auto;*/
/*}*/


body {
    font-family: 'Roboto', sans-serif;
    /*cursor: none;*/
    min-height: 100vh;
}

section {
    margin: 1rem;
}

.spacer {
    flex-grow: 1;
}

h2 {
    padding: 1rem;
}

::selection {
    background: #09C372BF;
    color: #fff;
}
