html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*cursor: none;*/
}

section {
    margin: 1rem;
}

.spacer {
    flex-grow: 1;
}

h2 {
    padding: 1rem;
}
