#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "pics pst"
        "pics pnd";
}


#about > h2:first-child {
    grid-area: title;
    justify-self: center;
}

#about > .stack {
    grid-area: pics;
}

#about > p:nth-of-type(1) {
    grid-area: pst;
    align-self: end;
    max-width: 40rem;
}

#about > p:nth-of-type(2) {
    grid-area: pnd;
}

.stack {
    position: relative;
    height: 30rem;
}

img.keyboard {
    position: absolute;
    max-width: 100%;
}

img.user-image {
    position: absolute;
    left: 30%;
    top: 30%;
    max-width: 100%;
}


@media (max-width: 768px) {
    #about {
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "pics"
        "pst"
        "pnd";
    }

    img.user-image {
        left: 20%;
        top: 20%;
        max-width: calc(100vw - 20% - 1rem);
    }

}
