.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "pics about-text"
        "pics about-skills";
}


.about > h2:first-child {
    grid-area: title;
    text-align: center;
}

.about > .stack {
    grid-area: pics;
}

.about__text, .about__skills {
    margin-left: 1rem;
}

.about__text {
    grid-area: about-text;
    margin-bottom: 1rem;
    align-self: end;
    max-width: 40rem;
    text-align: justify;
}

.about__skills {
    grid-area: about-skills;
}

.stack {
    position: relative;
    height: 30rem;
}

img.keyboard {
    position: absolute;
    max-width: 80%;
    left: max(10%, 1rem);
}

img.user-image {
    position: absolute;
    top: 30%;
    right: 0;
    max-width: 100%;
}


@media (max-width: 767px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .about__text {
        max-width: unset;
    }

    .stack {
        height: 24rem;
    }
    img.keyboard {
        left: max(5%, 1rem);
    }

    img.user-image {
        top: 20%;
        right: max(5%, 1rem);
        max-width: calc(100vw - 20% - 2rem);
    }

    .about__text, .about__skills {
        margin: 1rem 0 0;
    }

    .about__text {
        align-self: normal;
    }

}
