.container {
    position: relative;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}

.btn2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 120px;
    transition-duration: 0.5s;
}

.btn2 .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 60px;
    top: 30px;
    background-color: #212121;
}

.btn2 .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.btn2 .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}


.btn2.open .icon {
    transition-duration: 0.5s;
    background: transparent;
}

.btn2.open .icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
}

.btn2.open .icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}

.btn2:hover {
    cursor: pointer;
}
