header {
    background: url("../assets/images/bg.jpg") no-repeat fixed;
    background-size: cover;
    background-position-y: 42px;
    color: white;
    height: 100vh;
}

.main-nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #1d4350, #a43931);
    user-select: none;
    top: 0;
    z-index: 10;
}

.main-nav-logo {
    padding: .75rem 1rem;
}


.main-nav-search input {
    outline: none;
    border: 1px solid #1d4350;
    border-radius: 8px;
    width: 10rem;
    transition: width .3s;
}

.main-nav-search input:focus {
    width: 15rem;
}

.main-nav-items {
    display: flex;
}

.main-nav-items > a {
    color: white;
    padding: .75rem 1rem;
    text-decoration: none;
    font-weight: 1000;
}

.main-nav-items > a:hover {
    background-color: #00000050;
}

.main-nav-items > a.active {
    background-color: #00000080;
}

.main-nav-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: ui-monospace;
    font-size: 4rem;
    text-shadow: 3px 3px 0 #FF000080;
    text-transform: uppercase;
    font-style: italic;
}


@media (max-width: 768px) {
    .main-nav-title {
        font-size: 2.5rem;
    }
}
