
#portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#portfolio > .portfolio-title {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

#portfolio .project {
    cursor: pointer;
    transition: all 1s;
}

.project:hover {
    filter: hue-rotate(90deg);
}

.project img {
    max-width: 40rem;
}

.project p {
    color: #08355d;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .project img {
        max-width: calc(100vw - 2rem);
    }
}
