
#portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 1rem 2rem;
}

#portfolio > .portfolio-title {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

#portfolio .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
    border: 1px solid grey;
}

.project:hover {
    filter: hue-rotate(120deg);
}

.project img {
    width: 100%;
}

.project p {
    color: #08355d;
    font-size: 1.5rem;
    padding: 1rem;
}

@media (max-width: 1200px) {
    #portfolio {
        grid-template-columns: 1fr;
    }
}
